[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-babelex = "*"
flask-login = "*"
flask-admin = "*"
toml = "*"
sqlalchemy = "*"
httpx = "*"
speechrecognition = "*"
pydub = "*"
pytelegrambotapi = "*"
pytz = "*"
openai = "*"
whisper = "*"

[dev-packages]
blue = "*"
isort = "*"
ruff = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
